* {
  box-sizing: border-box;
}
.one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
}
.one .card img {
  width: 80%;
}
.card {
  width: 450px;
  height: 600px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
h2 {
  padding: 15px;
  margin: 20px;
}
